$color_black: black;
$color_grey: #686868;
$color_white: white;

$BLUE_500: #1F1AB2;
$BLUE_400: #534ED9;
$BLUE_300: #7673D9;
$BLUE_200: #C8D4F2;
$BLUE_100: #e8eeff;

$RED_500: #FF675B;
$RED_400: #FF9783;
$RED_300: #FFB49C;
$RED_200: #FFD2BD;
$RED_100: #fce3de;

$GRAY_500: #2F4858;
$GRAY_400: #647E8F;
$GRAY_300: #AFC1CC;
$GRAY_200: #e6eef2;
$GRAY_50: #f5fafc;

$GREEN_200: #58FFB8;
$GREEN_500: #00D077;
